@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<link href="~/css/style_login.css" rel="stylesheet" />

<div id="top-bar">

    <div class="page-full-width">

        <a href="#" class="round button dark ic-left-arrow image-left "></a>

    </div> 

</div>
    <div id="content">
   
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="login-form">

            <fieldset>

                <p>
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="round full-width-input" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </p>

                <p>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="round full-width-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </p>


                <button type="submit" class="btn btn-default">Log in</button>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>

            </fieldset>



        </form>

    </div> 



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
